.inside-bucket{
    display: flex;
    margin-top: .3vw
}
.inside-bucket p{
    font-size: 16px;
    background-color: #C6F8D1;
    box-shadow: 1px 1px 2px 2px rgb(211, 211, 211);
    width: 14vw;
    margin-left: 1vw;
    height: 2.2vw;
    border-radius: 8px;
}
.inside-bucket button{
    border: none;
    color: rgb(113, 113, 113);
    margin-left: 3%;
    background-color: rgba(255, 0, 0, 0);
    height: 2.3vw;
    
}
.inside-bucket button svg{
    border: none;
    
}
.nameBox{
    padding-top: .6vw;
}