*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
.row{
    width: 1643px;
}
.side {
    -ms-flex: 30%;
    flex: 9%;
    background-color: #F3FAFC;
    height: 49rem;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2px;


  }
  
.main {   
width: 30px;
-ms-flex: 60%; 
flex: 70%;
background-color: #F8FDFF;
padding: 20px;
}

  
@media only screen and (max-height:709px) {
    .row{
        width: 1475px;
    }
    .side {
        -ms-flex: 30%;
        flex: 9%;
        height: 38rem;
      }
      
    .main {   
    width: 30px;
    -ms-flex: 60%; 
    flex: 70%;
    padding: 20px;
    }
    
}