.left-on-top{
    width: 70vw;
    height: 12vh;
    margin-left: 1.8vw;
    margin-top: 1vh;
    display: flex;
}
.ChoosePageNew {
    width: 100vw;
    overflow-x: hidden;
}
.line-lefttop hr{
    position: relative;
    bottom: 4vh;
}
.left-on-bottom{
    width: 70vw;
    height: 70vh;
    margin-left:1.8vw;
    margin-top: 2vh;
}
.right-on-container{
    width: 27vw;
    height: 89vh;
    position: relative;
    left: 78vw;
    bottom: 86.7vh;
    
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.199);
    background-color: #F8FDFF;
}

.All-in-Container{
  width: 100%;
  height: 90vh;
  overflow-y: hidden; 
  overflow-x: hidden;
}
.first-icon svg{
    color: rgba(0, 0, 0, 0.56);
}
.button-sort-line{
    width: 0px;
    
}

.left-on-top button {
    border: none;
    height: 4vh;
    margin-left: 34vw;
    width: 8vw;
    border-radius: 3px;
    background-color: #f8f8f8;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.255);

}

.left-on-top button svg{
    position: relative;
    right: .3vw;
}
.Icon-Sec {
    position: relative;
    left: 43vw;
}
.left-on-top {
    padding-top: 3vh;
}
.line-lefttop{
    width: 67vw;
    margin-left: 2.8vw;
}
.right-on-container{
    padding-left: 5vw;
    padding-top: 2.5vh;
}
#name-1  , .button-right {
    position: relative;
    right: 5vw ;
}
#name-2 {
    position: relative;
    right: 9vw ;
}
.button-right button{
    border: none;
    height: 4vh;
    width: 12vw;
    border-radius: 15px;
    background-color: #f8f8f8;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.255);
}
.button-right button svg{
    position: relative;
    left: 2.3vw;
}
.buttom-line-1{
    margin-top: 20vh;
    width: 18rem;
    position: relative;
    right: 1vw;
}
.scrollbox{
    overflow: auto;
    overflow-x: hidden;
    
}
::-webkit-scrollbar {
    width: 5px;

}
::-webkit-scrollbar-thumb{
    background: #D0D0D0;
    border-radius: 10px;
}
.left-on-bottom{
    display: flex;
    
    flex-direction: column;
}
.box-scroll{
    width: 95%;
    height: 19vh;
    border-radius: 13px;
    margin-left: 2.3%;
    margin-top: 2%;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.297);
    background-color: #F9FAFA;
}
.img-scroll{
    width: 17%;
    height: 16vh;
    position: relative;
    
    left: 4%;
    margin-top: 1%;
    border-radius: 13px;
    
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.336);
    background-color: #F9FAFA;

}
.scrollbox-inner{
    height: 100%;
}
.scrollbox{
    height: 100%;
}
.inside-scroll{
    display: flex;
}
.discript-scroll{
    margin-top: 1%;
    margin-left: 7%;
}
.btn-all-in{
    margin-left: 2vw;
}
@media only screen and (max-width :880px ) {
    .ChoosePageNew{
        display: none;
    }
    
}   
/* macbook */
@media only screen and (max-width :1440px ) {
    
    .button-sort-line{
        position: relative;
        right: 50px;
    }
    .Icon-Sec{
        position: absolute;
        margin-left: 32vw;
    }
    body {
        overflow-x: hidden;
    }
}   