.public-project-bar {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100vw;
    height: 12vh;
    background-color: white;
    padding: 30px 65px 18px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.title-header-bar {
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

.title-header-bar > h1 {
    font-size: 24px;
    font-weight: 200;
    color: rgba(20, 20, 20, 0.72);
    margin: 0;
    margin-left: 0.625vw;
}

.title-header-bar > svg {
    color: #585858;
}

.hearder-bar > hr {
    margin-top: 0.8vh;
    margin-bottom: 1.4vh;
    color: rgba(0, 0, 0, 0.44);
}

.hearder-bar > p {
    margin-left: 1.563vw;
    color: rgba(20, 20, 20, 0.70);
    font-size: 16px;
    font-weight: 200;
}
.hearder-bar{
    position: relative;
    bottom: 3vh;
}

.tail-bar {
    display: flex;
    margin-left: 3.854vw;
    margin-top: .3vh;
}

.public-project-content {
    display: flex;
    margin-top: 1.8vh;
    width: 100vw;
}

.public-project-view {
    display: flex;
    flex-wrap: wrap;
    width: 78vw;
    height: 72vh;
    overflow-y: scroll;
    border-radius: 10px;
    min-height: 56.8vh;
    margin-left: 7.187vw;
    background-color:#fcfcfc;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.btn-back-pb{
    margin-left: 1vw;
    margin-bottom: 8vh;
}
.space-row {
    margin-left: 1.823vw;
}

.public-project-tool {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 2.396vw;
}

.tool {
    display: flex;
    align-items: center;
}

.tool > svg {
    color: rgba(34, 34, 34, 0.65);
    margin-left: 1.042vw;
}

.dropdown2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vw;
    height: 6vh;
    margin-top: 3vh;
    box-shadow: 1px 1px 2px 2px rgb(210, 210, 210);
    border: 1px solid #DEE4ED;
    background-color: #F9FCF9;
    border-radius: 6px;
}

.dropdown-button2 {
    display: flex;
    align-items: flex-end;
    border: none;
    cursor: pointer;
    
}

.dropdown-title2 {
    margin: 0px;
    font-size: 16px;
    color: #3A3F45;
    margin-left: 1.042vw;

}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 9.479vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 13vh;
    z-index: 1;
}

.dropdown-content2 a {
    color: black;
    padding: 0.625vw 0.833vw;
    text-decoration: none;
    display: block;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

@media only screen and (max-width :1430px) {
    .dropdown-title2{
        font-size: 13px;
    }
    .select-btn p {
        font-size: 13px;
    }
    .public-project-dis{
        margin-top: 1vh;
    }
}
@media only screen and (max-width :1280px) {
    .public-project-dis{
        margin-top: -1vh;
    }
}
    