body{
    margin : 0px;
    padding: 0px;
    text-align: center;

}


.middle-container{
    width: 550px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin:2rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: absolute;
    left: 30%;
    box-shadow: 5px 5px 8px 0px #888;
}

.btn-info{
    box-shadow: 5px 5px 8px 2px #888888;;
}
.btn-3{
    box-shadow: 5px 5px 8px 2px #888888;;
}
.btn-white{
    box-shadow: 5px 5px 8px 0px #888888;;
}
