.Sidemain {
    width:72vw ;
    height: 83vh;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    margin-top: 1vh;
    margin-left: 5.5vw;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.151);
}
.text-2 :hover{
    background-color: rgb(166, 248, 189)
  }
.text-1{
    margin-top: 4vh;
}
.Container-all{
    display: flex;
    height: 87vh;
    z-index: 0;
}
.Side-Right{
    margin-left: 3vw;
    margin-top: 3%;
    width: 18%;
    height: 72vh;
}
.Progress-work{
    height: 40vh;
    overflow: scroll;
}

.Zonebutton {
    text-align: center;
    width: 18vw;
    position: relative;
    display: inline-block;
}


.dp-button {
    background-color: #F8F8FF;
    color: #615E83;
    height: 6vh;
    width: 10vw;
    padding: 10px 20px;
    padding-left: 23px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.123);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.text-1 hr{
    width: 16.688vw;
}

.text-2 button{
    background-color: #B9FFBB;
    color: #615E83;
    padding: 2px 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.185);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 8.5vw;
    
}
.SideLine button{
    background-color: #B9FFBB;
    color: #615E83;
    width: 2.344vw;
    height: 4.5vh;
    padding: 2px 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.185);
    border: none;
    border-radius: 100px;
    cursor: pointer;
   
}

.dp-button:hover + .dp-content,
.dp-content:hover {
    display: block;
}

.dp-content {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%; 
}

.dp-content a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px 0;
}

.dp-content a:hover {
    background-color: #ddd;
}
.SideLine{
    margin-top: 5vh;
    height: 100vh;
    max-height: 100px;
}
.SideLine hr{
    width: 90%;
}
.Sidemain p{
    text-align: center;
    position: relative;
    top: 50%;
}

.ShowArea-Container{
    width: 100vw;
    
}
.text-2, .Tree-btn,.btn-in{
    transition: all 0.4s ease;
}
.text-2:hover ,.Tree-btn:hover {
transform: scale(1.05); 
}
.text-2:active,.Tree-btn:active{
transform: scale(0.9);
}
@media only screen and (min-width:1250px) {
    .Container-all{
        display: flex;
        position: fixed;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
@media only screen and (max-width :1250px) {
    /* .ShowArea-Container{
        display: none;
    } */
    .Zonebutton{
        font-size: 14px;
    }
    .Sidemain{
        height: 40vh;
        width: 100vh;
        margin-left: 0;
    }
    .Side-Right{
        position: absolute;
        width: 100vw;
        height: 10vh;
        margin-left: 0;
        margin-top: 56vw;
    }
    .Zonebutton{
        width: 100vw;
    }
    .dp-button{
        width: 30vw;
        height: 4vh;
    }
    .text-1{
        padding-left: 5vw;
        font-size: 20px;
        
    }
    .Progress-work{
        height: 20vh;
    }
    .text-2{
        padding-left: 63vw;
        font-size: 13px;
    }
    .SideLine{
        margin-top: 0;
        height: 1vh;
    }
    .SideLine button {
        width: 10vw;
        height: 10vw;
        margin-left: 5vw;
    }
    .SideLine-DataShow{
        font-size: 14px;
    }
    .Zonebutton{
        width: fit-content;
    }
}
@media only screen and (max-width :500px) {
    .Side-Right{
        margin-top: 94vw;
    }
}
@media only screen and (max-width :400px) {
    .Side-Right{
        margin-top: 74vw;
    }
    .SideLine button {
        width: 9vw;
        height: 9vw;
        margin-left: 5vw;
    }
    .Zonebutton{
        font-size: 12px;
    }
}

@media only screen and (max-width :391px) {
    .Side-Right{
        margin-top: 93vw;
    }
}
@media only screen and (min-width :600px) and (max-width:750px) {
    .Side-Right{
        margin-top: 73vw;
    }
}
@media only screen and (max-width :376px) {
    .Zonebutton{
        font-size: 11px;
    }
    .Side-Right{
        margin-top: 43vh;
    }
    .SideLine button {
        width: 9vw;
        height: 9vw;
        margin-left: 5vw;
    }
}
@media only screen and (min-width :800px) and (max-width:1250px) {
    .Side-Right{
        margin-top: 73vw;
    }
}