body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-containers{
    margin: 10rem;
    padding:0px 190px 0px 190px;
    text-align: center;
}
.symbol{
    padding:50px 0px 0px;
}
.left-container{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 120px;
    width: 600px;
    position: absolute;
}

.right-container{
    margin: 0;
    padding:50px 100px 50px 100px;
    width: 650px;
    text-align: left;
    left: 50%;
    position: relative;
}
.foot-container{
    text-align: center;
}
.service{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px 40px 100px 0px;
    
}

.btn-1{
    text-align: left;
    padding-left: 50px;
}

.btn-2{
    padding-right: 50px;
    text-align: right;
    transform: translateY(-100%);
}
