.welcome-content {
    width: 100vw;
    padding: 71px 64px 71px;
<<<<<<< HEAD
    background-color: #F8FDFF;;
}
*{
    max-width: 100vw;

=======
>>>>>>> a37502186e677990060f7cfcd3315ecc1dc21753
}

.main-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 6px 0 rgba(13, 10, 44, 0.08);
    border-radius: 20px;
    background-color: white;
    padding: 134px 250px 0px;
}

.main-container h5{
    font-size: 24px;
    font-weight: 500;
    color: rgba(124, 124, 124, 1);
    margin-bottom: 35px;
}

.main-container h1 {
    font-size: 40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.74);
    margin-bottom: 25px;
}

.main-container p {
    font-size: 24px;
    font-weight: 500;
    color: rgba(124, 124, 124, 1);
}

.main-container img {
    margin-top: 95px;
    margin-bottom: 146px;
}

.main-container-hidden {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 6px 0 rgba(13, 10, 44, 0.08);
    border-radius: 20px;
    background-color: white;
    padding: 159px 40px 159px;
}

.image-slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%;   
}

.slider-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background-color: #F4F4F4;
    margin: 0;
    cursor: pointer;
}

.image-content {
    width: 546px;
    height: 374px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 6px 0 rgba(13, 10, 44, 0.08);
}

.text-content {
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: start;
}

.text-content h1{
    font-size: 36px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.79);
}

.text-content p{
    font-size: 20px;
    font-weight: 500;
    color: rgba(124, 124, 124, 1);
    text-align: start;
}

.btn-groub {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 62px;
}

.main-container-tail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 6px 0 rgba(13, 10, 44, 0.08);
    border-radius: 20px;
    background-color: white;
    padding: 38px 100px 38px;
}

.main-container-tail > p {
    font-size: 24px;
    font-weight: 500;
    color: rgba(124, 124, 124, 1);
}

.main-container-tail > h1 {
    font-size: 36px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 20px;
    margin-bottom: 72px;
}

.package-bar {
    display: flex;
}

.space-center {
    margin-left: 18px;
}

.space-row {
    margin-top: 34px;
}
<<<<<<< HEAD
.main-container img:hover{
    cursor: pointer;

}
.btn-groub p:hover{
    cursor: pointer;
}
=======

>>>>>>> a37502186e677990060f7cfcd3315ecc1dc21753
