html,
body {
    height: 100%;
}

body {
    display: flexbox;
    position: relative;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5f5f5;
}

.background {
    background-color: #F8FDFF;
    height: 100vh;
}

.authen-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authen-form {
    border: 1px solid #DEE4ED;
    box-shadow: 0px 2px 4px rgba(21,29,40,0.04);
    padding: 41px;
    margin-top: 30px;
    border-radius: 6px;
    background-color: white;
}

.header-authen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-authen h2 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.header-authen p {
    font-size: 14px;
    color: #788BA5;
    padding-top: 20px;
    margin-bottom: 30px;
}

.big-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 40px;
    border-radius: 6px;
    box-shadow: inset 0px 2px 0px rgba(255,255,255,0.08),
                0px 1px 2px rgba(21,29,40,0.04);
    border: 1px solid #DEE4ED;
    cursor: pointer;
}

.big-button p {
    color: #3A3F45;
    padding-left: 10px;
    margin: 0;
    padding-top: 0;
    margin-bottom: 0;
}

.or-line p{
    font-size: 12px;
    color: #788BA5;
    margin-bottom: 0px;
}


.main-authen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.form-control {
    right: 0%;
    transform: translateY(0%);
}

.label-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    
}

.mb-3{
    margin-top: 23px;
}

.form-label {
    display: flex;
    margin-bottom: .5rem;
}

.form-label p {
    color: rgba(24,30,37,0.47);
    padding-left: 6px;

}

.label-content a {
    color: #117DF9;
    text-decoration: none;
}

.big-button-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    background-color: #4DA4E3;
    color: white;
    cursor: pointer;

    margin-top: 25px;
}

.end-authen {
    margin-top: 20px;
    color: #181E25;
    font-size: 14px;
}

.end-authen a {
    text-decoration: none;
    color: #117DF9;
    font-size: 14px;
}

.form-signin {
    max-width: 30vw;
    padding: 30px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}


.google-1 img{
    transform: translateY(-10%);
}

.google-2 img{
    transform: translateY(-10%);
}

.register-btn {
    background-color: rgba(98,77, 277,0.76);
}

.register-from {
    padding-bottom: 24px;
}
.background{
    overflow-x: hidden;
}
/* Extra Small Device */
@media only screen and (max-width :600px) {
    .mb-3 label {
        font-size: 14px;
    }
    
    .background{
        overflow-x: hidden;
    }
    
    .header-authen h2 {
        font-size: 16px;
    }
    
    .header-authen p {
        font-size: 14px;
    }
    .or-line p{
        font-size: 14px;
    }
    
    .end-authen {
        
        font-size: 14px;
    }
    
    .end-authen a {
        font-size: 14px;
    }
    .authen-form {
        margin-top: 1px;
    }
    .btn-in{
        font-size: 14px;
    }
    .form-label p{
        margin-top: 4px;
    }
    

}
/* 1200 991 768 678 480 เเละ 380 ครับ */
@media only screen and (min-width :1500px) {
    .authen-form {
        margin-top: 5%;
        margin-left: 10px;
        margin-right: 10px;

    }
    .header-authen h2 {
        font-size: 20px;
    }
    .header-authen p {
        font-size: 20px;

    }
    .or-line p{
        font-size: 20px;

    }
    .end-authen {
        font-size: 20px;

    }
    .end-authen a {
        font-size: 20px;

    }
    .header-authen h2 {
        font-size: 20px;
    }
    .header-authen p {
        font-size: 18px;
    }
    .or-line p{
        font-size: 18px;
    }
    
    .end-authen {
        font-size: 18px;
    }
    
    .end-authen a {
        font-size: 18px;
    }
    .btn-in{
        font-size: 18px;
    }
    
}

@media only screen and (min-height :800px) and (max-width :450px) {
    .authen-form {
        margin-top: 15%;
        margin-left: 10px;
        margin-right: 10px;
    }

}
@media only screen and (min-height :1100px) and (max-width :900px) {
    .authen-form {
        margin-top: 15%;
        margin-left: 10px;
        margin-right: 10px;
    }

}
@media only screen and (min-height :1024px) and (max-width :768px) {
    .authen-form {
        margin-top: 15%;
        margin-left: 10px;
        margin-right: 10px;
    }

}