html,
body {
    height: 100%;
}

body {
    display: flexbox;
    position: relative;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 400px;
    padding: 30px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}
.form-control{
    width: 100%; 
    margin: 15px 0px 15px 0;
    height: 100%;
}

