html,
body {
    height: 100%;
}

body {
    display: flexbox;
    position: relative;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

* a {
    text-decoration: none;
    color: #5DADE2;
}
ul{
    margin:0;
    padding:0;
    
}
* a ul li{
    display: flex;
    position: relative;
    
}
.dropdown{
    position: absolute;
    display: block;
    background-color: #fff;
    top: 110%;
    border-radius: 5px;
    width: 200px;
    left:0;
    opacity: 0;
    visibility: hidden;
}