.sidebar{
    width: 60px;
    height: 100vh;
    max-height: 100%;
    background: #fff;
    overflow: hidden;
    transition: 0.5s;
    z-index: 9999;
    position: fixed;
    box-shadow: 1.5px 2px 1.5px 1.5px rgba(0, 0, 0, 0.104);
}


.sidebar:hover{
    width: 300px;
}
.sidebar ul{
    position: relative;
    height: 100vh;
}
.sidebar ul li {
    list-style: none;
}
.ontheGround li:hover{
    margin-left: 5%;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}
.sidebar ul li a .icon-Sidebar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    color: #333;
}
.sidebar ul li a .text{
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    color: #c0c0c0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.sidebar ul li.logo-Sidebar{
    margin-bottom: 50px;
}

.sidebar ul li.logo-Sidebar .text{
    font-weight: 500;
}
.hamburger-icon{
    position: relative;
    right: 50%;
    bottom: 15%;
    
}
.ontheGround{
    padding-top: 45vh;
}
@media only screen and (max-width :1250px) {
    .sidebar {
        display: none;
    }
}