body{
    margin: 0;
    padding: 0;
    text-align: center;
}
.main-containers{
    margin: 10rem;
    padding:0px 190px 0px 190px;
    text-align: center;
}
.symbol{
    padding:50px 0px 0px;
}
.left-container{
    text-align: center;
    padding-top: 10px;
    width: 30vw;

}
.right-container{
    margin: 0;
    
    padding:0px 700px 100px 700px;
    width: 120vw;
    text-align: left;
}
.foot-container{
    text-align: center;
}
.service{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px 40px 100px 0px;
}
