body{
    margin: 0;
    padding: 0;
}
.container-2{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 850px;
    margin: 8rem 25rem 0rem 14rem;
    box-shadow: 5px 5px 8px 0px #888;
}